#lista ul {
  list-style-type: disclosure-closed;
  padding-left: 25px;
}

#lista span {
  margin-right: 15px;
}

#lista ul button {
  margin: 10px 5px;
  padding: 0px;
  background-color: none;
  color: blue;
}

#lista img {
  height: 15px;
}

.score-form {
  min-width:110px;
  text-align:left;
}

#armas {
  min-height: 100px;
  max-height: 300px;
}

#habilidades {
  min-height: 100px;
  max-height: 300px;
}

#magias {
  min-height: 30%;
  max-height: 30%;
  min-width: 100%;
  max-width: 100%;
}

.align-content-center{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.range-container {
  display: flex;
  align-items: center;
}
.range-input {
  flex-grow: 1;
  margin: 0 10px;
}
.range-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}